.country {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  width:calc(100vw - 40px);
}

.spotImage {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.oneCountry {
  display: flex;
  flex-direction: column;
  
}


.countryReview {
  margin-bottom: 30px;
}

.countrySubmit {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  background-color: limegreen;
  color: #fff;
  width: 200px;
  height: 50px;
  user-select:none;
}

.countrySubmit:hover {
  cursor:pointer;
  opacity: 0.8;
}

.countrySubmit:focus {
  outline:0;
}